%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"topicpathseparator"}%<span class='twikiSeparator'>&nbsp;&#187;</span> %TMPL:END%
%TMPL:DEF{"breadcrumb"}%%TMPL:P{"breadcrumb:title"}%%BREADCRUMBS{separator="%TMPL:P{"topicpathseparator"}%"}%%TMPL:END%
